body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 64px;
  background: hsl(0, 0%, 98%);
}

header {
  text-align: center;
  margin-bottom: 49.6px;
  max-width: 592px;
}

h1 {
  font-size: 39.2px;
  font-weight: 200;
  color: hsl(234, 12%, 34%);
  margin: 0;
}

h2 {
  font-size: 39.2px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  margin: 0;
}

header p {
  font-size: 16px;
  color: hsl(229, 6%, 66%);
  padding: 17.6px;
  line-height: 32px;
}

section {
  display: grid;
  grid-template-areas:
    "supervisor teambuilder calculator"
    "supervisor karma calculator";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  align-items: center;
}

.container {
  background: hsl(0, 0%, 98%);
  padding: 28.8px;
  border-radius: 4.8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 320px;
  margin: 16px;
}

.container p {
  text-align: left;
  line-height: 32px;
}

img {
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
  display: block;
  margin-left: auto;
}

h3 {
  margin: 16px 0 8px;
  font-size: 22.4px;
  color: hsl(234, 12%, 34%);
  text-align: left;
}

p {
  color: hsl(229, 6%, 66%);
  line-height: 1;
}

.supervisor-card,
.teambuilder-card,
.karma-card,
.calculator-card {
  box-shadow: 0 18px 17px -6px #6f9fd538;
}

.supervisor-card {
  grid-area: supervisor;
  border-top: 4px solid hsl(180, 62%, 55%);
}

.teambuilder-card {
  grid-area: teambuilder;
  border-top: 4px solid hsl(0, 78%, 62%);
}

.karma-card {
  grid-area: karma;
  border-top: 4px solid hsl(34, 97%, 64%);
}

.calculator-card {
  grid-area: calculator;
  border-top: 4px solid hsl(212, 86%, 64%);
}