.parent{
    width: 600px;
    height: 120px;
    background-color: purple;
    margin: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    
}

.child {
  width: 100px;
  height: 60px;
  background-color: orange;
  border-radius: 10px;
}