.container {
  display: flex;
  justify-content: center; 
  align-items: center;     
}

.login-box {
  background-color: #e6e6e6;
  padding: 30px;
  width: 300px;

  display: flex;
  flex-direction: column; 
  gap: 15px; 
}


.login-box h2 {
  font-size: 16px;
  color: #4bb0c8;
}

.login-box input {
  padding: 10px;
  border: 1px solid #ccc;
}


.login-box button {
  padding: 10px;
  background-color: #4bb0c8;
  color: white;
  border: none;
}