.parent {
  width: 400px;
  height: 500px;
  background-color: lightblue;

  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: 40px; 
}

.parent img {
  width: 100px;
  height: 100px;
}