html{
    height: 100%;
}
body{
    background-color: hsl(0, 0%, 95%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
main{
    display: flex;
    flex-direction: row;
    color: hsla(0, 0%, 100%, 0.75);
}
.card1{
    background-color: hsl(31, 77%, 52%);
    border-radius: 5px 0px 0px 5px;
}
.card2{
    background-color: hsl(184, 100%, 22%);
}
.card3{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 5px 5px 0px;
}
button{
    color: hsl(184, 100%, 22%) ;
    background-color: hsl(0, 0%, 95%);
    border: 2px solid white;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    margin-top: 52.5px; /* 3.5rem */
}
h1{
    color:hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
}
div{
    padding: 30px 30px 30px 30px;
    width: 195px; /* 13rem */
}
button:hover{
    cursor: pointer;
    background-color: transparent;
    color: hsl(0, 0%, 95%);
    transition: 0.25s;
}
p{
    margin: 15px 0 15px 0; /* 1rem */
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.5;
}
@media only screen and (max-width:375px)
{
    main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:90%;
    }
}