.container9 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 2px solid darkgreen;
    margin-bottom: 20px;
}