*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 2000px;
    padding: 50px;
}

div{
    width: 180px;
    height: 180px;
    background-color: crimson;

    position: sticky;
    top: 40px;
    bottom: 65px;
}