input[type="text"] {
    background-color: red;
    color: blue;
    border-radius: 10px;
}


input[type="email"] {
    background-color: orange;
    color: red;
}

input[type="email"] {
    outline: none;
}


input[type="password"] {
    background-color: purple;
    color: green;
    border: 2px solid red;
    border-radius: 5px;
    outline: none;
}