#box1 {
  width: 200px;
  height: 200px;
  background-color: rgb(255, 0, 0);
}

#box2 {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 255, 0);
}

#box3 {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 255);
}